<div class="container">
  <h1 [style.color]="mainForm.value.corFavorita">Formulario principal</h1>

  <form class="mainForm" [formGroup]="mainForm">
    <div class="form-group">
      <label for="nome" >Nome</label>
      <input class="form-control" type="text" name="nome" placeholder="Nome" formControlName="nome">
    </div>
    <div class="form-group">
        <label for="nome" >Sobrenome</label>
        <input class="form-control" type="text" name="sobrenome" placeholder="Sobrenome" formControlName="sobrenome">
    </div>
    <div class="form-group">
        <label for="email" >Email</label>
        <input class="form-control" type="email" name="email" placeholder="E-mail" formControlName="email">
    </div>
    <div class="form-group">
        <label for="genero" >Gênero</label>
        <select class="form-control" name="genero" formControlName="genero">
          <option value="">Selecione</option>
          <option *ngFor="let genero of generos" [value]="genero.valor">{{genero.nome}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="corFavorita" >Cor Favorita</label>
        <select class="form-control" name="corFavorita" formControlName="corFavorita">
          <option value="">Selecione</option>
          <option [style.backgroundColor]="cor.hex" *ngFor="let cor of cores" [value]="cor.hex">{{cor.nome}}</option>
        </select>
    </div>
    <div class="form-group" *ngIf="mainForm.value.pais=='Brazil'">
        <label for="cpf" >CPF</label>
        <input class="form-control" type="text" name="cpf" placeholder="CPF" formControlName="cpf">
    </div>
    <div class="form-group">
        <label for="pais" >Pais</label>
        <select class="form-control" name="paises" formControlName="pais">
          <option value="">Selecione</option>
          <option *ngFor="let pais of paises" [value]="pais.name">{{pais.name}}</option>
        </select>
    </div>
  </form>
  <pre>
    {{ mainForm.value | json }}
  </pre>
</div>
